.frontpagecontainer {
  display: flex;
  flex-direction: row;
}

.postcontainer {
  display: flex;
  flex-flow: column;
  flex: 1;
}

.header {
  display: flex;
  flex-direction: row;
  flex: 1;
  padding: 0 0 40px;
}

.posts {
  display: flex;
  flex-flow: row;
  padding: 10px 0 10px 10px;
}

.postContent {
  display: flex;
  flex-flow: column;
}

.comments {
  font-size: 13px;
  padding: 5px 0 0 10px;
}

.link {
  padding: 0 10px;
  font-size: 20px;
}

.upvotes {
  padding: 0 10px;
  font-size: 13px;
  border-radius: 5px;
  border: 1px solid gray;
  height: 20px;
  min-width: 100px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  background: lightblue;
  align-items: center;
  border-radius: 5px;
  border: 1px solid black;
  width: 250px;
  height: 300px;
}
