.commentPage {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 10px;
}

.padding {
  padding: 20px 0 0;
}

.heading {
  font-size: 30px;
}

.addCommentForm {
  display: flex;
  flex-direction: column;
}

.inputField {
  width: 450px;
  height: 200px;
}

.addCommentButton {
  width: 300px;
}

.comments {
  display: flex;
  flex-direction: column;
}

.postedBy {
  font-size: 13px;
  color: darkblue;
}

.commentText {
  max-width: 500px;
  white-space: pre-wrap;
}
